@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/*Banner*/


.banner-margin{
    margin-top: 125px;
}


.banner{

    background-image: linear-gradient(100deg, #000000, #00000020), url(/espiritual.github.io/images/medi1.png);
    height: 40rem;
    background-size: cover;
    background-position: bottom;
    border-radius: 6px;

}



.main-content{
    background-color: #f9f5f0;
}

/*phrases*/

.container-phrases{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 2rem;
    padding: 3rem 0;
    padding-top: 60px;
   
}

.card-phrases{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem 0;
    background-color: #fdc5fffd;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-phrases img{
   width: 23px;
   color: #e1b3ed;
}

.phrases-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.phrases-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color:#151515 ;
  
}


.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: 2rem;
    

}

.category-simbolo{
    background-image: linear-gradient(#00000080, #00000080), url(/espiritual.github.io/images/simbolo.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;


}



.category-chakras{
    background-image: linear-gradient(#00000080, #00000080), url(/espiritual.github.io/images/chakras.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;


}


.category-pineal{
    background-image: linear-gradient(#00000080, #00000080), url(/espiritual.github.io/images/Pineal.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;



}
.card-category p{
    color:#edcdf5;
    font-weight: 500;
    font-size: 18px;
}


.card-category span a{
    color: #afd5f6;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
   

}

.card-category span:hover{
   transform: scale(1.2); 
  
   cursor: pointer;
}

.container-options{
align-items: center;
display: flex;
justify-content: center;
gap: 2rem;
margin-bottom: 1rem;
}

.container-options span{
   color: #777;
   background-color: #fff;
   padding: .7rem 3rem;
   font-size: 1.4rem;
   text-transform: capitalize;
   border-radius: 2rem;
   cursor: pointer;

}

.container-options span:hover{
    background-color: #2874A6 ;
    color: #fff;
}

.container-options span.active{
    background-color: #2874A6 ;
    color: #fff;
}
/*Motivacion*/

.motivacion{
   width: 100%;
  
}
.content-motive{
    display: flex;
    background-color: #ffffffa3;
    border-radius: 30px;
    height: 300px;
    margin: 50px;
   
}
.motivacion p{
    font-size: 15px;
    padding: 90px;
    

}

.content-motive img{
    width: 30%;
    padding: 30px;
    border-radius: 30px;
    background-size: cover;
   
}

/*  section personal    */

.crecimiento-espiritual{
    padding-top: 100px;
    padding-left: 150px ;
    padding-bottom: 50px;
}

.crecimimiento-h{
    font-size: 20px;
    color: #a928ff;
    text-shadow: rgb(252, 64, 236) 1px 0 10px;
    margin-left: 400px;
    
}

.crecimiento-p{
    font-size: 15px;
    width: 1000px;
    padding-top: 30px;
    line-height: 26px;
    font-weight: 300;
    padding-left: 90px;
   
   
}

.crecimiento-v{
   
    font-size: 15px;
}

.lista-mov{
   margin-top: 50px;
    margin-left: 70px;
    width: 800px;
    list-style: none;
    padding: 20px;
    border-radius: 10px;
}
.text-22{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    
}


/*  section personal    */
.desarrollo-personal{

    width: 1000px;
    padding-left: 100px;
    padding-bottom: 50px;
   
}

.crecimimiento-h1{
    padding-left: 300px;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    text-shadow: rgb(252, 64, 236) 1px 0 10px;
}
.crecimiento-mm{
    font-size: 15px;
    line-height: 20px;
    width: 900px;
}

.card-move{
    width: 1000px;
    padding-left: 10px;
    padding-top: 30px;
    font-size: 30px;
}

.main-card{
border: 1px solid #242323;
background-color: #fff5fc;
border-radius: 5px;
padding: 20px;
margin: 10px;
width: 400px;
display: inline-block;
}

.card-move :hover{
    cursor: pointer;

    background-color: #171616;
    color: #eceaea;
}
.main-card h3{
    color: #fa932c;
    padding-bottom: 10px;
}

.main-card p{
    padding-top: 20px;
    line-height: 20px;
}


.blog2{
    font-size: 20px;
    margin-left: 250px;
}

.link-card{
    margin: 10px;
    font-size: 20px;

}




