@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*Banner*/


/* Estilos generales */
html {
    background-color: #000;
    color: #fff;
}

.main-content {
    background-color: #f9f5f0;
}

/* Categorías */
.top-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: 2rem;
    transition: transform 0.3s ease;
}

.card-category p {
    color: #edcdf5;
    font-weight: 500;
    font-size: 18px;
}

.card-category span a {
    color: #afd5f6;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
}

.card-category span:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Opciones */
.container-options {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span {
    color: #777;
    background-color: #fff;
    padding: .7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container-options span:hover,
.container-options span.active {
    background-color: #2874A6;
    color: #fff;
}

/* Motivación */
.motivacion {
    margin-top: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.motivacion span {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    color: #dd9cee;
    font-size: 20px;
}

.content-motive {
    display: flex;
    border-radius: 5px;
    height: 300px;
    color: #fff;
}

.motivacion p {
    color: #edcdf5;
    font-size: 15px;
    padding: 90px;
}

.content-motive img {
    width: 30%;
    padding: 30px;
    border-radius: 30px;
    background-size: cover;
}

/* Experiencia */
.my-experience {
    display: flex;
    margin: 30px;
    padding-top: 50px;
    width: 80%;
    margin-bottom: 20px;
    height: 900px;
}

.experience-txt {
    font-size: 2rem;
}

.content-my-experience {
    display: flex;
    height: 300px;
    color: #fff;
    flex-direction: column;
}

.content-my-experience p {
    font-size: 15px;
    padding: 40px;
    color: #f3def8;
}

.esperience-img {
    background-color: rgba(253, 217, 253, 0.817);
    padding: 10px;
    border-radius: 50%;
    width: 70%;
    height: 300px;
    margin-top: 200px;
}

/* Frases */
.container-phrases {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 3rem 0;
}

.card-phrases {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem 0;
    background-color: #dcfbc1fd;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-phrases img {
    width: 23px;
    color: #eaaafa;
}

.phrases-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.phrases-content span {
    font-weight: 700;
    font-size: 1.2rem;
    color: #151515;
}

/* Preguntas */
.container-question {
    margin-bottom: 30px;
    display: flex;
    background-color: #fcfdfe;
    border-radius: 8px;
}

.content-question h2 {
    color: rgb(251, 180, 48);
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    padding-top: 30px;
}

.lucido-img {
    float: left;
    border-radius: 8px;
    width: 40%;
    margin: 50px;
    margin-right: 100px;
}

.list-lucid {
    margin-top: 50px;
    font-size: 15px;
    color: rgb(26, 25, 25);
}

.lucid-order {
    padding: 25px;
    font-weight: 600;
}