---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/blog.css"; 
import Footer from '../components/Footer.astro';
---

<Layout title="Blogs.">
  <body>
    <header class="container-hero sticky-header">
      <h3 class="heading-2">
          "vivimos en un eterno presente todo pasa y todo ocurre en el eterno
          ahora" &nbsp <span>Referencia: El poder Del ahora</span>
      </h3>
      <div class="container hero">
          
          <div class="container-logo">
              <img src="/espiritual.github.io/images/logo.png" />
              <h1 class="logo"><a href="/">Crecimiento Espiritual</a></h1>
          </div>
          <div class="container-user">
              <i class="fa-solid fa-user"></i>
          </div>
      </div>
      <!-- Utiliza el componente Navbar -->
      <Navbar />
  </header>




      <main class="importan">

    <section class="section container top-categories">
          
      <div class="container-categories">
        <div class="card-category category-pineal">
          <p>Glandula Pineal</p>
          <span><a href="blogs.html"> </a></span>
        </div>
      </div>
    </section>



    <section class="glandula-pineal container">
      
      <div class="pinealg-content">

        
        <h2>Glandula Pineal</h2>
        <h3>¿En términos científicos que es la glándula pineal?</h3>
              
        <p class="separation">
          La glándula pineal es una pequeña estructura ubicada en el techo del
          diencéfalo, su principal función es la de regular los ritmos
          circadianos, tales como sueño-vigilia, secretar melatonina, hormona
          con fuerte efecto sobre la acción gonadal, además de oncostática,
          geroprotectora y antioxidante.
        </p>

        <h3>¿Cuál es la importancia de la glándula pineal en el desarrollo de
          espiritual?</h3>
        <p class="separation">
        La glándula pineal es muy importante , muchas veces se ha investigado
        por científicos pero no han conectado con la parte fundamental del
        propósito que tiene en el ámbito espiritual , esta ubicada en el 6
        chakras tiene una conexión muy hermosa que nos permite activar todos los
        puntos energéticos de nuestro cuerpo y conectar con nosotros mismos con
        nuestro interior.
      <br> <br>   
       La glándula pineal nos permite
        ver mas allá del velo nos hace 
        cuestionar nuestra existencia en este mundo,
         sobre el control los estados  , la vida, nuestro potencial 
         como humanos , y estoy muy seguro que la glándula pineal es
        la puerta  al  despertar  de conciencia.</p>
       </p>

        <h3>¿Qué es la clasificación de la glándula pineal ?</h3>
        <p class="separation">
          Todos de  nosotros  deberíamos tener en cuenta la glándula 
          pineal a lo largo de los años  el estado profundo, 
          los gobiernos  desde miles de años nos han estado poniendo 
           flúor al agua lo que provoca que a través del consumo del
            agua de grifo poco a poco se nos clasifique la glándula pineal y 
            nos volvamos mas obedientes  y manipulables  , no podamos cuestionar 
            nuestra existencia  y estemos trabajado sin ningún propósito en la
             vida nos dejemos manipular  a través del dinero , las medicinas 
             y la falsa libertad que tenemos en este  planeta y  a que hemos venido.
          <br><br>
          Hay algo muy interesante 
          que he notado que ha estado pasado como que al pasar las generaciones 
          la glándula pineal esta retrasando la clasificación de la glándula pineal 
          como que hay algo que no del todo permite que se clasifique y en esa brecha 
          se ha logrado el despertar de muchas  personal a lo largo de los años , pero ahí 
          viene el fluor si no lo reducimos volvemos a caer en la trapa , en la obediencia 
           que ellos quieren.
          </p>
      </div>
    </section>



    <section>
      <div class="title-cards">
        <h2>Selecciona una asignatura</h2>
    </div>

    <div class="title-cards">
        <h3>1er Año</h3>
        <h3>1er y 2do Bimestre</h3>
    </div>

    <div class="container-card">
    
    <div class="card">
        <figure>
            <img src="/espiritual.github.io/images/Ley-vibraccion.jpeg">
        </figure>
        <div class="contenido-card">
            <h3>Ley de la vibraccion</h3>
            <p>EL camino al conocimiento</p>
            <a href="#">Acceder</a>
        </div>
    </div>

    <div class="card">
        <figure>
            <img src="/espiritual.github.io/images/yo-superior.jpeg">
        </figure>
        <div class="contenido-card">
            <h3>Yo Superior</h3>
            <p>Accede a tu yo interno</p>
            <a href="#">Acceder</a>
        </div>
    </div>

    <div class="card">
        <figure>
            <img src="/espiritual.github.io/images/poder-sanaccion.jpeg">
        </figure>
        <div class="contenido-card col-4">
            <h3>El poder de la Sanacion</h3>
            <p>Portal de tareas de Introducción al Poder de la Sanacion</p>
            <a href="#">Acceder</a>
        </div>
    </div>

  </section>
    <main>
      <Footer/>
  </body>
</html>
</Layout>

<script
src="https://kit.fontawesome.com/72c31be9da.js"
crossorigin="anonymous"
></script>

