---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/desarrollo.css"; 
import Footer from '../components/Footer.astro';
---


<Layout title="Desarrollo personal.">
  <body>
    <header class="container-hero sticky-header">
      <h3 class="heading-2">
          "vivimos en un eterno presente todo pasa y todo ocurre en el eterno
          ahora" &nbsp <span>Referencia: El poder Del ahora</span>
      </h3>
      <div class="container hero">
          <div class="container-logo">
              <img src="/espiritual.github.io/images/logo.png" />
              <h1 class="logo"><a href="/">Crecimiento Espiritual</a></h1>
          </div>
      </div>
      <!-- Utiliza el componente Navbar -->
      <Navbar />
  </header>
    <section class="banner banner-margin">
      <div class="content-banner">
        <p>El poder de amarte a ti mismo:</p>
        <h2>Desarrollo Personal </h2>
        <a href="#">Proximamente</a>
      </div>
    </section>
    <article class="motivacion">
      <span>Viajes astrales</span>

      <div class="content-motive">
        <h2 class="heading-3">¿Qué es el desarrllo personal ?</h2>
        <span>En el ambito espiritual</span>
   
        <p>
          El desarrollo personal espiritual es un proceso de crecimiento
          espiritual, en el que las personas pueden llegar a ser más conscientes
          de su yo interior, de su propósito en la vida, de su conexión con Dios
          o con un poder superior
          <br />
          <br />
          y de su forma de vivir una vida auténtica. El
          desarrollo personal espiritual implica explorar las creencias
          espirituales, practicar la meditación, la oración, el yoga u otras
          técnicas que favorezcan la paz interior, el equilibrio y la armonía.
          El desarrollo personal espiritual también implica cuidar el cuerpo, la
          mente y el espíritu, alimentarse bien, evitar los tóxicos, hacer
          ejercicio, descansar, aprender, crear y compartir.
        </p>
        <img src="/espiritual.github.io/images/OIG.jpeg" alt="" />
      </div>
    </article>

  </body>
  <Footer/>
</html>
</Layout>

<script
src="https://kit.fontawesome.com/72c31be9da.js"
crossorigin="anonymous"
></script>