---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/style.css";
import Footer from '../components/Footer.astro';

---

        <Layout title="Crecimiento espiritual.">
            <main>
                <header class="container-hero sticky-header">
                    <h3 class="heading-2">
                        vivimos en un eterno presente todo pasa y todo ocurre en el eterno
                        ahora 
                    </h3>
                    <div class="container hero">
                        <div class="container-logo">
                            <img src="/espiritual.github.io/images/logo.png" />
                            <h1 class="logo"><a href="/">Crecimiento Espiritual</a></h1>
                        </div>
                        <div class="container-user">
                            <i class="fa-solid fa-user"></i>
                        </div>
                    </div>
                    <!-- Utiliza el componente Navbar -->
                    <Navbar />
                </header>
                <section class="banner banner-margin">
                    <div class="content-banner">
                        <p>La magia de la creación:</p>
                        <h2>cómo manifestar tus sueños y deseos</h2>
                    </div>
                </section>
        
                <section class="main-content">
                    <section class="container container-phrases">
                        <div class="card-phrases">
                            <img src="/espiritual.github.io/images/vec1-removebg-preview.png" alt="" />
                            <div class="phrases-content">
                                <span>La voz del alma</span>/*hhh  */
                            </div>
                        </div>
                        <div class="card-phrases">
                            <img src="/espiritual.github.io/images/vec2-removebg-preview.png" alt="" />
                            <div class="phrases-content">
                                <span>La sabiduría de la naturaleza</span>
                            </div>
                        </div>
                        <div class="card-phrases">
                            <img src="/espiritual.github.io/images/vec3-removebg-preview.png" alt="" />
                            <div class="phrases-content">
                                <span>El viaje del héroe</span>
                            </div>
                        </div>
                        <div class="card-phrases">
                            <img src="/espiritual.github.io/images/vec4-removebg-preview.png" alt="" />
                            <div class="phrases-content">
                                <span>El secreto de la felicidad</span>
                            </div>
                        </div>
                    </section>
        
                    <article class="motivacion">
                        <div class="content-motive">
                            <h2 class="heading-3">Crecimiento Espiritual</h2>
                            <p>
                                Es un proceso de transformación interior que nos lleva a conectar
                                con nuestra esencia, con nuestro propósito y con el sentido de la
                                vida. No se trata de seguir una religión o una doctrina, sino de
                                descubrir nuestra propia verdad y vivir desde ella. <br />
                                El crecimiento espiritual implica un cambio de perspectiva, de pasar
                                de una visión egocéntrica a una visión holística, donde nos
                                reconocemos como parte de un todo mayor y nos relacionamos con los
                                demás y con el mundo desde el amor, la compasión y la gratitud.
                            </p>
                            <img src="/espiritual.github.io/images/crecimiento.jpeg" alt="" />
                        </div>
                    </article>
        
                    <section class="section container top-categories">
                        <h1 class="heading-1">Descubre Tu Potencial</h1>
                        <div class="container-categories">
                            <div class="card-category category-simbolo">
                                <p>Geometría sagrada</p>
                            </div>
                            <div class="card-category category-chakras">
                                <p>Chakras</p>
                            </div>
                            <div class="card-category category-pineal">
                                <p>Glándula Pineal</p>
                            </div>
                        </div>
                    </section>
        
                    <section class="bookstop container">
                        <h2 class="heading-1">Libros Recomendados</h2>
                        <div class="container-options">
                            <span class="active">Destacados</span>
                            <span>Nuevos</span>
                            <span>Más Descargados</span>
                        </div>
                        <div class="bookstop-content">
                            <div class="book-content">
                                <div class="books-img">
                                    <img src="images/libro1.jpg" alt="" />
                                    <div class="text-book">
                                        <a class="title-book" href="#">El poder del ahora</a>
                                        <span>Autor: Eckhart Tolle</span>
                                        <span>Espiritualidad</span>
                                    </div>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="book-content">
                                <div class="books-img">
                                    <img src="/espiritual.github.io/images/QUIEN-SOY portada libro.webp" alt="" />
                                    <div class="text-book">
                                        <a class="title-book" href="#">Quién soy yo</a>
                                        <span>Autor: Jean Klein </span>
                                        <span>Espiritualidad</span>
                                    </div>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="book-content">
                                <div class="books-img">
                                    <img src="/espiritual.github.io/images/libro33.jpg" alt="" />
                                    <div class="text-book">
                                        <a class="title-book" href="#">True Meditation</a>
                                        <span>Autor: Adyashanti</span>
                                        <span>Espiritualidad</span>
                                    </div>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="book-content">
                                <div class="books-img">
                                    <img src="/espiritual.github.io/images/sueñol.jpeg" alt="" />
                                    <div class="text-book">
                                        <a class="title-book" href="#">El Mundo de los Sueños Lúcidos</a>
                                        <span>Autor: Stephen LaBerge </span>
                                        <span>Espiritualidad</span>
                                    </div>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </main>
            <Footer/>
        </Layout>

        <script
        src="https://kit.fontawesome.com/72c31be9da.js"
        crossorigin="anonymous"
        ></script>


