---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/style.css";
import Footer from '../components/Footer.astro';

---

        <Layout title="Crecimiento espiritual.">
            <main>
                <header class="container-hero sticky-header">
                    <h3 class="heading-2">
                        vivimos en un eterno presente todo pasa y todo ocurre en el eterno
                        ahora 
                    </h3>
                    <div class="container hero">
                        <div class="container-logo">
                            <img src="images/logo.png" />
                            <h1 class="logo"><a href="/">Crecimiento Espiritual</a></h1>
                        </div>
                        <div class="container-user">
                            <i class="fa-solid fa-user"></i>
                        </div>
                    </div>
                    <!-- Utiliza el componente Navbar -->
                    <Navbar />
                </header>
                <section class="banner banner-margin">
                    <div class="content-banner">
                        <p>La magia de la creación:</p>
                        <h2>cómo manifestar tus sueños y deseos</h2>
                    </div>
                </section>
        
                <section class="main-content">
                    <section class="container container-phrases">
                        <div class="card-phrases">
                            <img src="images/vec1-removebg-preview.png" alt="" />
                            <div class="phrases-content">
                                <span>La voz del alma</span>/*hhh  */
                            </div>
                        </div>
                        <div class="card-phrases">
                            <img src="images/vec2-removebg-preview.png" alt="" />
                            <div class="phrases-content">
                                <span>La sabiduría de la naturaleza</span>
                            </div>
                        </div>
                        <div class="card-phrases">
                            <img src="images/vec3-removebg-preview.png" alt="" />
                            <div class="phrases-content">
                                <span>El viaje del héroe</span>
                            </div>
                        </div>
                        <div class="card-phrases">
                            <img src="images/vec4-removebg-preview.png" alt="" />
                            <div class="phrases-content">
                                <span>El secreto de la felicidad</span>
                            </div>
                        </div>
                    </section>
        
                    <article class="motivacion">
                        <div class="content-motive">
                            <h2 class="heading-3">Crecimiento Espiritual</h2>
                            <p>
                                Es un proceso de transformación interior que nos lleva a conectar
                                con nuestra esencia, con nuestro propósito y con el sentido de la
                                vida. No se trata de seguir una religión o una doctrina, sino de
                                descubrir nuestra propia verdad y vivir desde ella. <br />
                                El crecimiento espiritual implica un cambio de perspectiva, de pasar
                                de una visión egocéntrica a una visión holística, donde nos
                                reconocemos como parte de un todo mayor y nos relacionamos con los
                                demás y con el mundo desde el amor, la compasión y la gratitud.
                            </p>
                            <img src="images/crecimiento.jpeg" alt="" />
                        </div>
                    </article>
        
                    <section class="section container top-categories">
                        <h1 class="heading-1">Descubre Tu Potencial</h1>
                        <div class="container-categories">
                            <div class="card-category category-simbolo">
                                <p>Geometría sagrada</p>
                            </div>
                            <div class="card-category category-chakras">
                                <p>Chakras</p>
                            </div>
                            <div class="card-category category-pineal">
                                <p>Glándula Pineal</p>
                            </div>
                        </div>
                    </section>
        
                    <section class="bookstop container">
                        <h2 class="heading-1">Libros Recomendados</h2>
                        <div class="container-options">
                            <span class="active">Destacados</span>
                            <span>Nuevos</span>
                            <span>Más Descargados</span>
                        </div>
                        <div class="bookstop-content">
                            <div class="book-content">
                                <div class="books-img">
                                    <img src="images/libro1.jpg" alt="" />
                                    <div class="text-book">
                                        <a class="title-book" href="#">El poder del ahora</a>
                                        <span>Autor: Eckhart Tolle</span>
                                        <span>Espiritualidad</span>
                                    </div>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="book-content">
                                <div class="books-img">
                                    <img src="images/QUIEN-SOY portada libro.webp" alt="" />
                                    <div class="text-book">
                                        <a class="title-book" href="#">Quién soy yo</a>
                                        <span>Autor: Jean Klein </span>
                                        <span>Espiritualidad</span>
                                    </div>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="book-content">
                                <div class="books-img">
                                    <img src="images/libro33.jpg" alt="" />
                                    <div class="text-book">
                                        <a class="title-book" href="#">True Meditation</a>
                                        <span>Autor: Adyashanti</span>
                                        <span>Espiritualidad</span>
                                    </div>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="book-content">
                                <div class="books-img">
                                    <img src="images/sueñol.jpeg" alt="" />
                                    <div class="text-book">
                                        <a class="title-book" href="#">El Mundo de los Sueños Lúcidos</a>
                                        <span>Autor: Stephen LaBerge </span>
                                        <span>Espiritualidad</span>
                                    </div>
                                    <div class="stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </main>
            <Footer/>
        </Layout>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/*Banner*/


.banner-margin{
    margin-top: 125px;
}


.banner{

    background-image: linear-gradient(100deg, #000000, #00000020), url(images/medi1.png);
    height: 40rem;
    background-size: cover;
    background-position: bottom;
    border-radius: 6px;

}



.main-content{
    background-color: #f9f5f0;
}

/*phrases*/

.container-phrases{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 2rem;
    padding: 3rem 0;
    padding-top: 60px;
   
}

.card-phrases{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem 0;
    background-color: #fdc5fffd;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-phrases img{
   width: 23px;
   color: #e1b3ed;
}

.phrases-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.phrases-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color:#151515 ;
  
}


.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: 2rem;
    

}

.category-simbolo{
    background-image: linear-gradient(#00000080, #00000080), url(images/simbolo.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;


}



.category-chakras{
    background-image: linear-gradient(#00000080, #00000080), url(images/chakras.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;


}


.category-pineal{
    background-image: linear-gradient(#00000080, #00000080), url(images/Pineal.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;



}
.card-category p{
    color:#edcdf5;
    font-weight: 500;
    font-size: 18px;
}


.card-category span a{
    color: #afd5f6;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
   

}

.card-category span:hover{
   transform: scale(1.2); 
  
   cursor: pointer;
}

.container-options{
align-items: center;
display: flex;
justify-content: center;
gap: 2rem;
margin-bottom: 1rem;
}

.container-options span{
   color: #777;
   background-color: #fff;
   padding: .7rem 3rem;
   font-size: 1.4rem;
   text-transform: capitalize;
   border-radius: 2rem;
   cursor: pointer;

}

.container-options span:hover{
    background-color: #2874A6 ;
    color: #fff;
}

.container-options span.active{
    background-color: #2874A6 ;
    color: #fff;
}
/*Motivacion*/

.motivacion{
   width: 100%;
  
}
.content-motive{
    display: flex;
    background-color: #ffffffa3;
    border-radius: 30px;
    height: 300px;
    margin: 50px;
   
}
.motivacion p{
    font-size: 15px;
    padding: 90px;
    

}

.content-motive img{
    width: 30%;
    padding: 30px;
    border-radius: 30px;
    background-size: cover;
   
}







/*libros*/

.bookstop-content{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(20rem, 1fr));
gap: 9rem ;
padding: 70px 0;


}

.book-content{
    position: relative;
     cursor: pointer;   
}

.text-book {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    

}

.text-book a{
    font-size: 15px;
    text-decoration: none;
    color: #3c2cd1;
    font-weight: 600;
}

.text-book a:hover{
    color: #032c47;
}






.stars{
   display: flex;
    justify-content: center;
    font-size: 17px;
 
    
}

.stars .fa-solid{
    color: rgb(230, 65, 10);
}
.stars .fa-regular{
color: #777;
}




.books-img{
   
    align-items: center;
    justify-content: center;
    text-align: center;
position: relative;


}

.books-img img{
width: 70%;
height: 220px;
border-radius:  .1rem;
box-shadow: 1px 4px .2px rgba(0, 0, 0, 0.1);
}






.coment{
margin: 30px;
position: relative;
width: 85%;
margin-left: 10%;
background-color: #ffffff;
border-radius: 20px;

}

.coment-content{
padding: 20px;


}

.coment-txt {
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 26px;
    display: flex;
 margin-bottom: 20px;
 
}

.coment-content p{
    font-size: 13px;
    font-weight: 400;
    padding: 20px;

}



  /* Media Queries-- 768px */
  @media(max-width:768px){


    html{
        font-size: 40%;
       
    }
    
    .container{
        margin-left:0;
        margin-right: 0;
       
    }

    
  
    .hero{
       position: relative;
        padding: .1rem;
        margin-right: 200px;
        margin-top: 10px;
    }
   
    



  
    .container-logo{
        color: #000;
       
       
    }
    
    .menu{
       margin-top: 20px;
        padding: 10px;
        font-size: 20px;
        color: white;
        justify-content:space-between;
       
      }
      .menu label{
          display: initial;
      }
      .menu .navbar{
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color:#ae7eba;
          display: none;
          padding: 20px;
          font-size: 20px;
      }
      .menu .navbar ul li {
          width: 100%;
          
          
      }
      
      
      #menu:checked ~ .navbar {
          display: initial;
      }
   





  


   
    .content-banner{
        max-width: 50rem;
        margin: 0 auto;
       padding: 25rem 0;
       
    }
    .container-phrases{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 3rem;
      
    }
    
    .card-phrases{
        padding: 2rem;
    }
    .heading-1{
        font-size: 3.4rem;
    }
    
  
    .content-motive{

       flex-direction: column;
        width: 100%;
        margin: 0;
        height: 600px;
       

    }
    .content-motive h2{
        font-size: 20px;
    }
    .content-motive p{
        padding-bottom: 20px;
        padding: 50px;
    }
    .content-motive img{
        width: 50%;
      margin-left: 100px;
     
    }
    .card-category{
        height: 300px;
        padding: 30px;
    }
    
    .card-category p{
        font-size: 2rem;
        text-align:center;
        line-height: 1;
    }
    .card-category span{
        font-size: 1.4rem;
    }


   
    .bookstop-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
         width:100%;
        margin: 0;
        padding-top: 20px;

    }
   


  }    
</style>


