---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/sueño-lucido.css"; 
import Footer from '../components/Footer.astro';
---


<Layout title="Sueños lucidos">
  <html>
<body>
  <header class="container-hero sticky-header">
    <h3 class="heading-2">
        "vivimos en un eterno presente todo pasa y todo ocurre en el eterno
        ahora" &nbsp <span>Referencia: El poder Del ahora</span>
    </h3>
    <div class="container hero">
        <div class="container-logo">
            <img src="/espiritual.github.io/images/logo.png" />
            <h1 class="logo"><a href="/">Crecimiento Espiritual</a></h1>
        </div>
    </div>
    <!-- Utiliza el componente Navbar -->
    <Navbar />
</header>

    <section class="banner  banner-margin">
        <div class="content-banner ">
          <p>El Poder de los Sueños Lucidos:</p> 
          <h2>Crea y explora  en el mundo de los sueños</h2> 
        </div>
        
     </section>

     <article class="motivacion">
        <span>Sueños lucidos</span>

        <div class="content-motive">
             <h2 class="heading-3">¿Qué son los Sueños Lucidos?</h2>
             <hr class="line-motive">
        <p>Un sueño lúcido es un sueño en el que eres
            consciente de que estás soñando y
             puedes controlar lo que sucede en el sueño. Es una forma de explorar tu subconsciente, resolver problemas, expresar tu creatividad, superar 
            tus miedos y vivir experiencias extraordinarias.
            <br>
            <br>
            la conciencia toma un papel muy importante al referirnos a los  sueños lucidos
            porque para ello es necesario.
            <br>
            Y al lograrlo es algo indescriptible las primeras sensaciones 
             es un nuevo mundo donde puedes hacer lo quieras ir a cualquier lugar todo
            está solo en ti y en tu constancia alguien por ahí dijo 
             la constancia lo puede superar todo
            
            </p>
            <img src="/espiritual.github.io/images/sueño4.jpeg" alt="">
        </div>
        
    </article>
    <main class="main-content1">
    <section class="my-experience">
        <div class="content-my-experience">
            <h2 class="experience-txt">Mi Experiencia en los sueños Lucidos</h2>
            <span>Autor: Marlon Esteban Leon Rojas </span>
            <p>
                Comencé desde los catorce años, es una historia bastante extensa, pero bueno me comenzó a interesar 
            los sueños lucidos cuando estaba mirando  YouTube yo antes estuve buscando otros temas relacionados <br> entonces 
            me apareció una sugerencia del video que son los sueños lucidos de ahí comencé esa travesía en los mundos de los sueños comencé a estudiar
            todo lo relacionado, los primeros días y semanas no lograba <br>  por lo menos recordar mis sueños pero no 
            me di por vencido, era cierto que yo me sobre exigía y me cansaba un poco, entonces había días que decidía descansar, siempre me decía que si se puede 
            y no me iba a rendir algo, <br> <br> me decía en mi interior que era vedad y era posible esa sensación  en mi interior, en mi alma, no me hacía dudar en ningún momento 
            y tarde o temprano lo iba a lograr, llega una noche donde me acuesto normalmente como siempre yo mi rutina siempre hacía visualizaciones de 
            que quería tener un sueño lucido y también me decía en mi mente voy a tener un sueño lucido. <br> <br> bueno llega esa noche yo tenía 14 años como 3 semanas después 
            me quedo dormido cuando me levantó, me acuerdo de mis sueños, yo todo feliz y emocionado escribo en mi cuaderno de una vez todo, bueno afín y al cabo paso medio año yo ya 
            tenía 15 años que los cumplí en agosto no había intentado dominar el arte de los sueños lucidos porque quería dominar bien mis sueños 
            ya pasado el medio año tuve mi primer sueño lucido fue una sensación increíble e indescriptible no sabía como expresarlo 
            fue algo muy intuitivo estaba en el sueño cuando veo algo en el sueño que se me hace raro y me pregunto estoy soñando y comienzo a volar 
            a recorrer toda la sensación de volar es única, eso era lo que más me gustaba hacer. 
            Bueno, pues eso es una parte de mi experiencia,<br> <br> quiero agradecerles a todos porque quieren aprender, sobre las capacidades que nosotros tenemos como
            seres espirituales y el potencial que aún está dormido esperando un día ser encontrado.
               
            </p>
            
        </div>
        <img class="esperience-img" src="/espiritual.github.io/images/marlonb.jpg" alt="">

       
    </section>
    <section class="container container-phrases">
        
        <div class="card-phrases">
          <img src="/espiritual.github.io/images/creatividad.png" alt="" />
          <div class="phrases-content">
            <span>Cratividad</span>
          </div>
        </div>
        <div class="card-phrases">
          <img src="/espiritual.github.io/images/subiendo-escaleras.png" alt="" />
          <div class="phrases-content">
            <span>Autodesarrollo</span>
          </div>
        </div>

        <div class="card-phrases">
          <img src="/espiritual.github.io/images/latido-del-corazon.png" alt="" />
          <div class="phrases-content">
            <span>Sanacion</span>
          </div>
        </div>
        <div class="card-phrases">
          <img src="/espiritual.github.io/images/aprendiendo.png" alt="" />
          <div class="phrases-content">
            <span>Superacion de los miedos</span>
          </div>
        </div>
      </section>

      <section class="container container-question">
        <div class="content-question">
            <h2>¿Como se Puede lograr Tener un sueño Lucido?</h2>
            <img class="lucido-img" src="images/libro-lucid.jpeg" alt="">
            <ol class="list-lucid">
                <li class="lucid-order" > indagar sobre los sueños lucidos </li>
                <li class="lucid-order" > proponte recordar tus sueños </li>
                <li class="lucid-order" >lleva una libreta para anotar tus sueños </li>
                <li class="lucid-order" >oye audios binaurales </li>
                <li class="lucid-order" >en el dia preguntate estas soñando </li>
                <li class="lucid-order" >ecenarios mentales de lo que quieres hacer en el sueño </li>
            </ol>
        </div>

      </section>
    
    </main>

    <Footer/>


</body>
</html>
</Layout>

<script
src="https://kit.fontawesome.com/72c31be9da.js"
crossorigin="anonymous"
></script>