---
import Navbar from '../components/Navbar.astro';
import "../styles/viaje-astral.css"; 
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---


<Layout title="Viajes Astrales.">
  <body>
    <header class="container-hero sticky-header">
      <h3 class="heading-2">
          "vivimos en un eterno presente todo pasa y todo ocurre en el eterno
          ahora" &nbsp <span>Referencia: El poder Del ahora</span>
      </h3>
      <div class="container hero">
        <div class="container-logo">
            <img src="images/logo.png" />
            <h1 class="logo"><a href="/">Crecimiento Espiritual</a></h1>
        </div>
    </div>
      <!-- Utiliza el componente Navbar -->
      <Navbar />
    
  </header>
    <section class="banner banner-margin">
      <div class="content-banner">
        <p>La Exploracon del Astral:</p>
        <h2>Aprende como <br />salir de tu cuerpo </h2>
        <a href="#">Proximamente</a>
      </div>
    </section>
    <article class="motivacion">
      <span>Viajes astrales</span>

      <div class="content-motive">
        <h2 class="heading-3">¿Qué son los Viajes Astrales?</h2>
        <hr class="line-motive" />
        <p>
          Un viaje astral es una experiencia en la que el alma o la conciencia
          se separa del cuerpo físico y puede explorar otros planos de
          existencia. cualquier persona puede tener viajes astrales, se pueden
          inducir mediante técnicas de meditación, hipnosis, sueños lúcidos
          tambien la proyeccion
          <br />
          <br />
          Los viajes astrales tienen algunas características comunes, como la
          sensación de caída, la inmovilidad del cuerpo, el cordón de plata que
          une el cuerpo astral con el físico, los sonidos extraños y la
          imposibilidad de interactuar con el mundo material
        </p>
        <img src="images/viaje-astral2.jpeg" alt="" />
      </div>
    </article>

    <main class="main-content1">
      <section class="my-experience">
        <div class="content-my-experience">
          <h2 class="experience-txt">Mi Experiencia en los sueños Lucidos</h2>
          <span>Autor: Marlon Esteban Leon Rojas </span>
          <p>
            Mi experiencia con los viajes astrales fue ya después de que tuve
            sueños lucidos, quise ir más allá de ello, quería más quería
           experimentar eso, salir de mi cuerpo, conocerme a mí mismo y lo que
            somos en realidad, <br> <br> que no somos esas personas que nos pueden
           limitar como personas que solo hemos venido a tener un propósito sin
             sentido quería encontrar eso que me hacía falta, todos los días
             investigaba y ponía en práctica todo referente a como inducirme en
                 los viajes astrales la posibilidad de poder lograrlo era algo que en
                 mi mente no tenía límites, me ayudo mucho la meditación, la conexión
             con el universo, la calma, bueno muchos factores, al principio si
             fue complicado se vienen dudas incertidumbres pero al final lo
            logras.
            <br />
            <br />
            bueno una de mis experiencias llega una noche donde pues yo adaba
            acostado listo para dormir mi familia llega hace ruido que no me
            dejan dormir, yo pienso que en si en mi familia que hace bulla yo
            enbuelto en mi cobija de pies a cabeza solo intentaba dormir cuando
            de repente siento que mi cuerpo enpieza a flotar saliendo de mi
            cuerpo voy subiendo hacie el techo de mi casa.
            <br><br> 
           Bueno, una de mis experiencias llega una noche donde, pues yo, estaba
            acostado listo para dormir mi familia llega hace ruido que no me
           dejan dormir, yo pienso que en sí en mi familia que hace bulla yo
           Envuelto en mi cobija de pies a cabeza solo intentaba dormir cuando
            de repente siento que mi cuerpo empieza a flotar saliendo de mí
             cuerpo voy subiendo hacia el techo de mi casa.
            <br> <br> 
            Pasa un avión arriba de mi tan real y tan cerca me
          quedo sorprendido quiero ir a otro lugar comienzo a volar por todos
          lados disfrutando toda esa libertad cuando de repente vuelvo a mí
            cuerpo lo escribo en mi libreta
          </p>
        </div>
        <img class="esperience-img" src="images/viaje-astral4.jpeg" alt="" />
      </section>



    </main>

    <Footer/>

   
  </body>
</Layout>
