
<!-- Navbar.astro -->
<nav class="menu container">
    <input type="checkbox" id="menu" />
    <label for="menu">
        <i class="fa-solid fa-bars"></i>
    </label>
    <ul class="navbar">
        <li><a href="/espiritual.github.io/">Inicio</a></li>
        <li><a href="/espiritual.github.io/desarrollo">Desarrollo Personal</a></li>
        <li><a href="/espiritual.github.io/sueños-lucidos">Sueños Lúcidos</a></li>
        <li><a href="/espiritual.github.io/viajes-astrales">Viajes Astrales</a></li>
        <li><a href="/espiritual.github.io/blogs">blogs</a></li>
    </ul>

</nav>

<style>
    

.menu{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem 0;
    
}

.menu .navbar ul li{
    position: relative;
    float: left;
    }

.menu .navbar ul li a {
    font-size: 20px;
    padding: 50px;
    color: rgb(14, 13, 13);
    display: block;
}


#menu{
    display: none;
}



.menu label{
    cursor: pointer;
    display: none;

}




.navbar{
    display: flex;
    gap: 4rem;
   
}

.navbar li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #151515;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.navbar a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #e28bef;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.navbar a:hover::after{
    opacity: 1;
}

.navbar a:hover{
    color: rgb(247, 143, 143);
}







.btn-search{
    font-size: 2rem;
    color: #fff;

}
</style>